@inherits LayoutComponentBase

<div class="">
    <div class="col-12 h-25">

        <NavMenu />
    </div>

    <main>


        <div class="content w-100 h-100" >
            @Body
        </div>
    </main>
</div> *@


@inherits LayoutComponentBase
<div class="">
    <div class="col-12 h-25">
        <NavMenu />
    </div>

    <main>


        <div class="content w-100 h-100" >
            @Body
        </div>
    </main>
</div>
