@inherits LayoutComponentBase
<div class="">
    <div class="col-12 h-25">
        <NavMenu />
    </div>

    <main>


        <div class="content float-start d-block w-100" >
            @Body
        </div>
    </main>
</div>
