@* <div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">
            <img src="ico/favicon.svg" class="d-inline-block align-top" width="30" height="30" alt="Suite Dreams Logo">
            Suite Dreams
        </a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="nav flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
            <NavLink class="nav-link" href="/dashboard/hotels" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Hotels Table
            </NavLink>
            <NavLink class="nav-link" href="/dashboard/rooms" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Rooms Table
            </NavLink>
        </div>
        
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
} *@
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <!-- Brand -->
        <NavLink class="navbar-brand" href="/">
            <img src="ico/favicon.svg" class="d-inline-block align-top" width="30" height="30" alt="Suite Dreams Logo"> Suite Dreams
        </NavLink>

        <!-- Toggler for mobile -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mainNavbar"
                aria-controls="mainNavbar" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Collapsible menu -->
        <div class="collapse navbar-collapse" id="mainNavbar">
            <!-- 🚨 Make sure it's just navbar-nav with NO ms-auto -->
            <ul class="navbar-nav mb-2 mb-lg-0">
                <li class="nav-item p-1">
                    <NavLink class="nav-link" href="/" Match="NavLinkMatch.All">
                        Home
                    </NavLink>
                </li>
                <li class="nav-item p-1">
                    <NavLink class="nav-link" href="/hotels">
                        Hoteller Tabel
                    </NavLink>
                </li>
                <li class="nav-item p-1">
                    <NavLink class="nav-link" href="/about">
                        About
                    </NavLink>
                </li>
                <li class="nav-item p-1">
                    <NavLink class="nav-link" href="/contact">
                        Contact
                    </NavLink>
                </li>
            </ul>
        </div>
    </div>
</nav>
