@using DomainModels

<div class="card shadow-sm mt-4">
    <div class="card-body">
        <h5 class="card-title">
            <i class="bi bi-house-door-fill"></i> Roomtypetype
        </h5>
        <div class="table-responsive">
            <table class="table table-striped align-middle">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var rt in roomtypes)
                    {
                        <tr>
                            <td>@rt.Id</td>
                            <td>@rt.Name</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

@code {
    [Parameter] public RoomtypeGetDto[]? roomtypes { get; set; }
}