@page "/dashboard/rooms"
@using System.Net.Http

<PageTitle>Suite Dreams - View Rooms</PageTitle>

<h1 class="ms-5 mb-4">Dashboard</h1>

<div class="mx-5">
    <div class="row">
        <div class="col-12">
            <RoomTable RoomGetDtos="@RoomGetDtos" />
        </div>
    </div>
</div>



@code {
    RoomGetDto[]? RoomGetDtos;

    protected override async Task OnInitializedAsync()
    {
        RoomGetDtos = await ApiService.GetRoomsAsync(0);
    }
}