@page "/dashboard/hotels"
@using System.Net.Http

<PageTitle>Suite Dreams - View Hotels</PageTitle>

<h1 class="mb-4">Dashboard</h1>


<div class="row">
    <div class="col-12">
        <HotelTable HotelGetDtos="@HotelGetDtos" />
    </div>
</div>



@code {
    HotelGetDto[]? HotelGetDtos;

    protected override async Task OnInitializedAsync()
    {
        HotelGetDtos = await ApiService.GetHotelsAsync(0);
    }
}