@page "/dashboard/hotels"
@using System.Net.Http

<PageTitle>Suite Dreams - View Hotels</PageTitle>

<h1 class="ms-5 mb-4">Dashboard</h1>

<div class="mx-5">
    <div class="row">
        <div class="col-12">
            <HotelTable HotelGetDtos="@HotelGetDtos" />
        </div>
    </div>
</div>



@code {
    HotelGetDto[]? HotelGetDtos;

    protected override async Task OnInitializedAsync()
    {
        HotelGetDtos = await ApiService.GetHotelsAsync(0);
    }
}